.user-profile__image-edit-icon {
  width: 26px;
  height: 26px;
  background-image: url('../../../images/avatar_edit_icon.svg');
  background-size: cover;
  transition: ease-in-out .2s;
}

.user-profile__image-edit-icon:hover {
  cursor: pointer;
}
